<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../cells-bfm-expandable-table/cells-bfm-expandable-table.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-bfm-options/cells-bfm-options.html">
<link rel="import" href="../cells-bfm-filter/cells-bfm-filter.html">
<link rel="import" href="../cells-bfm-iv-data-chart/cells-bfm-iv-data-chart.html">
<link rel="import" href="cells-bfm-expandable-inner-tables-styles.html">
<dom-module id="cells-bfm-expandable-inner-tables">
  <template>
    <style include="cells-bfm-expandable-inner-tables-styles"></style>
    <div class="header" on-click="_handleClickHeader">
      <div class="head-content column">
        <label class="title">[[title]]</label>
        <template is='dom-if' if="[[subTitle]]">
          <label class="sub-title">[[subTitle]]</label>
        </template>
      </div>
      <div class="info-content column">
        <template is='dom-if' if="[[message]]">
          <label class="message-right">[[message]]</label>
        </template>
        <template is='dom-if' if="[[amount.value]]">
          <cells-atom-amount class="amount" amount="[[amount.value]]" 
          currency-code="[[amount.currency]]" 
          language="en-us"
          local-currency="[[amount.localCurrency]]" align-right></cells-atom-amount>
        </template>
        <template is='dom-if' if="[[icon.value]]">
          <cells-atom-icon> </cells-atom-icon>
        </template>
      </div>
    </div>
    <iron-collapse id="collapse" opened$="[[opened]]">
      <div class="js-content content">
            <cells-bfm-options content="[[contents]]" on-click="_clickedButton"></cells-bfm-options>
            <template is="dom-if" if="[[_validDisplay(ActiveOption,'filter')]]">
              <cells-bfm-filter id="filter" button-clear="[[buttonClear]]" button-apply="[[buttonApply]]" input="[[input]]"></cells-bfm-filter>
            </template>
            <template is="dom-if" if="[[_validDisplay(ActiveOption,'summary')]]">
              <cells-bfm-iv-data-chart id="summary" data="[[summaryData]]" chart-data="[[summaryChartData]]"></cells-bfm-iv-data-chart>
            </template>
          <template is="dom-repeat" items="[[items]]">
          <cells-bfm-expandable-table title="[[item.title]]" text="[[item.text]]" amount="[[item.amount]]"
            button="[[item.button]]" items="[[item.items]]">
          </cells-bfm-expandable-table>
        </template> 
      </div>
    </iron-collapse>
        <!-- <cells-accordion-step on-opened-changed="_handleIcon" heading="[[title]]" subtitle="[[text]]" is-amount
          amount="[[amount.amount]]" currency-code="[[amount.currency]]" icon-mid="[[_icon]]">
         
        </cells-accordion-step> -->
    </div>
  </template>
  <script src="cells-bfm-expandable-inner-tables.js"></script>
</dom-module>
