@import "bower_components/cells-sass/main";
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  border: 1px solid #F4F4F4;
  @apply --cells-bfm-expandable-inner-tables;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.header{
  --cells-accordion-step-opened-message:#{'{
    display:block;
  }'};
  --cells-accordion-step-message:#{'{
    font-size: 18px;
    font-weight: 450;
  }'};
  --cells-accordion-step-opened-title:#{'{
    font-weight: normal;
    font-size: 18px;
  }'};
  --cells-accordion-step-opened-icons:#{'{
    width: 1rem;

  }'};
  --cells-accordion-step-opened-icons-color: #1464A5;
  --cells-accordion-step-icons-color: #1464A5;
  @apply --cells-bfm-expandable-inner-tables;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  min-height: 4rem;
  background-color: #f4f4f4;
  align-items: center;
  @apply  --cells-bfm-expandable-inner-tables-header;
}
.sub-title{
 
  @apply  --cells-bfm-expandable-inner-tables-title;
}
.title{
  font-size: 18px;
  font-weight: 450;
  @apply  --cells-bfm-expandable-inner-tables-sub-title;
}
.head-content{
  
  @apply  --cells-bfm-expandable-inner-tables-head-content;
}
.column{
  display: flex;
  flex-direction: column;
}
.info-content{
  @apply  --cells-bfm-expandable-inner-tables-info-content;
}
.amount{
  font-size: 18px;
  font-weight: 450;
}
.message-right{
  font-size: rem(13px);
  color: #121212;
  text-align: right;
  @apply  --cells-bfm-expandable-inner-tables-message;
}
#summary {
  width: 100%;
}
